<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <div class="form-container">
      <h2>Sign Up</h2>
      <form action="/api/signup/" method="post">
        <input type="text" placeholder="Enter name" name="name" />
        <input type="number" placeholder="Enter phone number" name="phone" />
        <input type="email" placeholder="Enter email" name="email" />
        <input type="password" placeholder="Enter password" name="password" />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
